#estadio{
    background-image: url("resources/AldosiviClean.jpg");
    background-repeat: no-repeat;
    background-attachment: local, scroll;
    background-size: cover;
}
#titulo {
    font-family: 'Sancreek', cursive;
    font-size:25px;
    color:black;
}

#otitulo {
    font-family: 'Sancreek', cursive;
    font-size:40px;
    color:black;
}

#barra{
    background-image: url("resources/AldosiviWallpaperPeroNo4k.jpg");
    background-repeat: no-repeat;
    background-attachment: local, scroll;
    background-size: cover;
}

#reserva{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 20px;
    font-family: 'Sanchez', cursive;
    font-size:40px;
    color: #2b1055;
    font-weight: bolder;
    background-color: white;
}

.barra_menu {
    font-family: 'Sanchez', serif;
    font-size: 25px;
    color: #fab62d;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.w3-modal-content{
    color: black;
    background-image: url(resources/GarfieldHaciendoJueguito.png);
    background-repeat: no-repeat;
    background-attachment: local, scroll;
    background-size: cover;
    width: 1200px;
}

#dentroCaja {
    font-family: 'Sanchez', serif;
    font-size: 15px;
    color: #000000;
    text-align: left;
    font-weight: bold;
}

span.w3-left{
    font-family: 'Sanchez', serif;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}

#inputform{
    box-shadow: 0px 1px 13px black;
    border-radius: 5px;
}

/* Este es nuestro diseño para los campos no válidos */
input:invalid{
    border-color: #900;
    background-color: #FDD;
  }

/* Este es el diseño para nuestros mensajes de error */
.error {
    width : 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }

#enviar{
    width: 10%;
    background-color: lightgray;
    color: black;
    font-family: 'Sanchez', serif;
    font-size: 30px;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px black;
}
