#estadio{
    background-image: url("resources/AldosiviClean.jpg");
    background-repeat: no-repeat;
    background-attachment: local, scroll;
    background-size: cover;
}
#titulo {
    font-family: 'Sancreek', cursive;
    font-size:25px;
    color:black;
}

#otitulo {
    font-family: 'Sancreek', cursive;
    font-size:40px;
    color:black;
}

#barra{
    background-image: url("resources/AldosiviWallpaperPeroNo4k.jpg");
    background-repeat: no-repeat;
    background-attachment: local, scroll;
    background-size: cover;
}

#reserva{
    font-family: 'Sanchez', cursive;
    font-size:40px;
    color: #2ebd46;
    font-weight: bolder;
    background-color: rgb(204, 46, 7);
}

.barra_menu {
    font-family: 'Sanchez', serif;
    font-size: 30px;
    color: #fab62d;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}