#titulo {
    font-family: 'Sancreek', cursive;
    font-size:25px;
    color:black;
}

#seleccion {
    background-color: rgba(39, 139, 36, 0.863);
}

.barra_menu {
    font-family: 'Sanchez', serif;
    font-size: 25px;
    color: #fab62d;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#titulo2 {
    font-family: 'Sancreek', cursive;
    font-size:30px;
    color:black;
}

body {
    background-image: url("../../resources/MessiGaturroAldosivi.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#dentroCaja {
    font-family: 'Sanchez', serif;
    font-size: 28px;
    color: #000000;
    background-color:#f5b026d0;
    width: 1200px;
    height:700px;
    border: 15px solid rgba(23, 82, 23, 0.877);
    padding: 50px;
    margin: auto;
}