body {
    background-image: url("../../resources/AldosiviWallpaperPeroNo4k.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Estilo de la barra */
#titulo {
    font-family: 'Sancreek', cursive;
    font-size:25px;
    color:black;
}

#seleccion {
    background-color: rgba(39, 139, 36, 0.863);
}

.barra_menu {
    font-family: 'Sanchez', serif;
    font-size: 25px;
    color: #fab62d;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/*tamaño pc*/
@media screen and (min-width: 801px) {
    #container-slider {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
    }
    #slider {
        overflow: hidden;
    }
    #slider figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 15s slider infinite;
    }
    #slider figure img {
        width: 20%;
        float: left;
    }

    @keyframes slider {
        0% {
            left: 0;
        }
        20% {
            left: 0;
        }
        25% {
            left: -100%;
        }
        45% {
            left: -100%;
        }
        50% {
            left: -200%;
        }
        70% {
            left: -200%;
        }
        75% {
            left: -300%;
        }
        95% {
            left: -300%;
        }
        100%{
            left: -400%;
        }
    }
}

/*tamaño celular*/
@media screen and (max-width: 800px){
    
}

#RectanguloAmarillo
{
    background: #E0D700;
    box-shadow: 7px 7px 13px black;
}

/* Estilo de las imagenes
.page img {
    box-shadow: 7px 7px 15px black;
    margin-bottom: 20px;
}
input {
    color: white;
    font-weight: bold;
    font-size: 10px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 7px 7px 13px green;
}
*/