body {
    background-image: url("../../resources/AldosiviWallpaperPeroNo4k.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#dentroCaja {
  font-family: 'Sanchez', serif;
  font-size: 30px;
  text-align: center;
  color: #000000;
  background-color:#f5b026d0;
  width: 90%;
  height:70%;
  border: 15px solid rgba(23, 82, 23, 0.877);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: auto;
}

#RectanguloAmarillo
{
    background: #E0D700;
    box-shadow: 7px 7px 13px black;
}

.frases {
  padding: 10px;
  font-family: 'Sanchez', serif;
  font-size: 25px;
  color: #fab62d;
  font-weight: bold;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#autor {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  color: #fab62d;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.RectanguloVerde
{
    padding: 10px;
    background: #3999138e;
    box-shadow: 7px 7px 13px black;
}

/* Empieza Slideshow */
* {box-sizing: border-box}
/* body {font-family: Verdana, sans-serif; margin:0} */
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-family: 'Sanchez', serif;
  font-size: 15px;
  color: #ffffff;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* termina slideshow */

/*tamaño pc*/
@media screen and (min-width: 801px) {
    #container-slider {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
    }
    #slider {
        overflow: hidden;
    }
    #slider figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 15s slider infinite;
    }
    #slider figure img {
        width: 20%;
        float: left;
    }

    @keyframes slider {
        0% {
            left: 0;
        }
        20% {
            left: 0;
        }
        25% {
            left: -100%;
        }
        45% {
            left: -100%;
        }
        50% {
            left: -200%;
        }
        70% {
            left: -200%;
        }
        75% {
            left: -300%;
        }
        95% {
            left: -300%;
        }
        100%{
            left: -400%;
        }
    }
}

/*tamaño celular*/
@media screen and (max-width: 800px){
    
}

/* Estilo de las imagenes
.page img {
    box-shadow: 7px 7px 15px black;
    margin-bottom: 20px;
}
input {
    color: white;
    font-weight: bold;
    font-size: 10px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 7px 7px 13px green;
}
*/