/*#RectanguloAmarillo
{ 
    position: relative;
    width: 837px; 
    width 100%;
    height: 94px;
    height auto;
    left: 301px;
    top: 149px;
    background: #E0D700;
}*/ 

#RectanguloAmarillo
{
    background: #E0D700;
}

@media screen and (min-width: 801px) {
    h1{ 
        font-size: 48px;
    }
}

@media screen and (max-width: 800px) {
    h1{ 
        font-size: 20px;
    }
}
/*style="font-size:4vw;"*/