* {
  box-sizing: border-box;
}

body {
  background-image: url("../../resources/AldosiviClean.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#regForm {
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #71e6bb;
  color: #000000;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

.container{
  position: relative;
  width: 400px;
  min-height: 400px;
  background: rgba(255,255,255, 0.1);
  box-shadow: 0 25px 45px rgba(255,255,255, 0.1);
  border-right: 1px solid rgba(255,255,255, 0.1);
  border-bottom: 1px solid rgba(255,255,255, 0.1);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dycalendar
{
  width: 100%;
  padding: 20px;
}

#dycalendar table
{
  width: 100%;
  padding: 40px;
  border-spacing: 5px;
}

#dycalendar table tr:nth-child(1) td
{
  background: #fff;
  color: #111;
  border-radius: 4px;
  font-weight: 600;
}

#dycalendar table td
{
  color: #fff;
  padding: 10 px;
  cursor: pointer; 
  border-radius: 4px;
}

#dycalendar table td:hover
{
  background: #ffff;
  color: #111 !important;
}


.dycalendar-month-container .dycalendar-today-date, .dycalendar-month-container .dycalendar-target-date 
{
  background: #ffff;
  color: #111 !important;
}

.dycalendar-month-container .dycalendar-header, .dycalendar-prev-next-btn.prev-btn
{
  background: #ffff;
  color: #111;
  width: 44px;
  height: 38px;
  left: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.dycalendar-month-container .dycalendar-header, .dycalendar-prev-next-btn.next-btn
{
  background: #ffff;
  color: #111;
  width: 44px;
  height: 38px;
  right: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.dycalendar-month-container .dycalendar-span-month-year
{
color: #fff;
font-size: 1.5em;
font-weight: 500;
}