* {
  box-sizing: border-box;
}

:root {
  --light-gray: #DADCE0;
  --light-blue: #1B9CE2;
}

.ContenedorBlanco
{
    background: #faf9e3;
    box-shadow: 7px 7px 13px black;
}

.dentroCaja {
  /* font-family: 'Sanchez', serif;
  font-size: 30px; */
  /* text-align: center; */
  color: #000000;
  background-color:#ffffffd2;
  /* width: 90%;
  height:70%; */
  border: 2px solid rgba(0, 0, 0, 0.877);
  /* padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: auto; */
}


body {
  background-image: url("../../resources/AldosiviClean.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  margin: 0;
}

#app-calendar {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 100%;
}

input[type=button] {
  cursor: pointer;
}

.day {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 12px;
  transition: background-color 200ms, color 200ms;
}

.name {
  padding-bottom: 10px;
}

/* .mesActual {

} */

/* .mesPasado {

} */

.weekend {
  color: var(--light-blue);
}
.selected {
  background-color: var(--light-blue);
  color: white;
}
.selectedHorario {
  background-color: var(--light-blue);
  color: white;
}

.tab span {
  font-family: 'Sanchez', serif;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}

#regForm {
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* #app-calendar .tab button {
  
} */

button {
  background-color: #71e6bb;
  color: #000000;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}