* {
  box-sizing: border-box;
}

:root {
  --light-gray: #DADCE0;
  --light-blue: #1B9CE2;
}

.ContenedorBlanco
{
    background: #faf9e3;
    box-shadow: 7px 7px 13px black;
}

.dentroCaja {
  /* font-family: 'Sanchez', serif;
  font-size: 30px; */
  /* text-align: center; */
  color: #000000;
  background-color:#ffffffd2;
  /* width: 90%;
  height:70%; */
  border: 2px solid rgba(0, 0, 0, 0.877);
  /* padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: auto; */
}

.containerCentrado{
  display: flex;
  justify-content: center;
}


body {
  background-image: url("../../resources/AldosiviClean.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  margin: 0;
}

#app-calendar {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 100%;
}

input[type=button] {
  cursor: pointer;
}

.day {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 15px;
  font-family: 'Sanchez', serif;
  transition: background-color 200ms, color 200ms;
}

.name {
  text-align: center;
  font-family: 'Sanchez', serif;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 10px;
}

/* .mesActual {

} */

.mesPasado {
  background-color: #a1a1a1b7;
} 

.weekend {
  color: var(--light-blue);
}

.selected {
  background-color: var(--light-blue);
  color: white;
}

.containerHorarios {
  padding: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.divHorario{
  padding: 6px;
}


.selectedHorario {
  background-color: var(--light-blue);
  color: white;
}

.tab span {
  font-family: 'Sanchez', serif;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}

#regForm {
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* #app-calendar .tab button {
  
} */

button {
  background-color: #4ad6a3;
  border: 1px solid rgba(0, 0, 0, 0.877);
  color: #000000;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

.container{
  position: relative;
  width: 400px;
  min-height: 400px;
  background: rgba(255,255,255, 0.1);
  box-shadow: 0 25px 45px rgba(255,255,255, 0.1);
  border-right: 1px solid rgba(255,255,255, 0.1);
  border-bottom: 1px solid rgba(255,255,255, 0.1);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dycalendar
{
  width: 100%;
  padding: 20px;
}

#dycalendar table
{
  width: 100%;
  padding: 40px;
  border-spacing: 5px;
}

#dycalendar table tr:nth-child(1) td
{
  background: #fff;
  color: #111;
  border-radius: 4px;
  font-weight: 600;
}

#dycalendar table td
{
  color: #fff;
  padding: 10 px;
  cursor: pointer; 
  border-radius: 4px;
}

#dycalendar table td:hover
{
  background: #ffff;
  color: #111 !important;
}


.dycalendar-month-container .dycalendar-today-date, .dycalendar-month-container .dycalendar-target-date 
{
  background: #ffff;
  color: #111 !important;
}

.dycalendar-month-container .dycalendar-header, .dycalendar-prev-next-btn.prev-btn
{
  background: #ffff;
  color: #111;
  width: 44px;
  height: 38px;
  left: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.dycalendar-month-container .dycalendar-header, .dycalendar-prev-next-btn.next-btn
{
  background: #ffff;
  color: #111;
  width: 44px;
  height: 38px;
  right: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.dycalendar-month-container .dycalendar-span-month-year
{
color: #fff;
font-size: 1.5em;
font-weight: 500;
}